.tranTable {
	background: #FFF3DA;
	font-family: tahoma;
	font-size: 13px;
	margin: 20px;
	border-radius: 10px;
}
.tranRow {
	height: 50px;
	display: table-row;
}
.tranRow.head {
	font-size: 22px;
	font-family: b yekan;
}
.tranPay, .tranDate, .tranDes{
	line-height: 40px;
}
.tranType {
	width: 20px;
}
.tranPay, .tranDate, .tranDes, .tranType{
	padding: 4px 7px;
	display: table-cell;
	border-bottom: 1px solid rgb(213, 203, 203);
}
.tranType.up{
	background: url(../img/uarr.png) no-repeat 0 10px;
}
.tranType.down{
	background: url(../img/darr.png) no-repeat 0 10px;
}
.tranPay {
	width: 80px;
}
.tranDate{
	width: 90px;
}
.tranDes{
}
.lastBarItem a{
	display: block;
	text-decoration: none;
	color: black;
	padding: 0px 10px 0px 0px;
}
.lastBarItem{
	line-height: 28px;
	color: black;
}
.barItem{
	line-height: 28px;
	color: black;
	border-bottom: 1px solid rgb(213, 213, 213);
}
.barItem a{
	display: block;
	text-decoration: none;
	color: black;
	padding: 0px 10px 0px 0px;
}
.barItem a:hover{
	background: rgb(207, 207, 207);
	color: rgb(29, 29, 148);
}
.lastBarItem a:hover{
	background: rgb(207, 207, 207);
	font-weight: normal;
	color: rgb(29, 29, 148);
}
.barItem.active{
	background: rgb(191, 191, 245);
}