#sidebar {
	width: 180px;
	height: 100px;
}
#addBudget {
	width: 680px;
	height: 100px;
	padding-right: 50px;
}
.budgetPart {
	width: 224px;
	height: 50px;
	float: right;
	margin: 1px;
	text-align: center;
	padding: 63px 0 0 0;
}
#cat > a{
	width: 100px;
}
#cat ul {
	text-align: right;
}
.remainBug {
	text-align: right;
	padding: 15px;
	margin-top: 70px;
	height: 40px;
}
.bugName {
	text-align: right;
	font-size: 20px;
	width: 177px;
	float: right;
}
.progress {
	margin-bottom: 0px;
}
.remainBug [class^=icon] {
cursor: pointer;
padding: 5px;
}
.edt {
	display: none;
}
.limitEdit {
	margin: 0;
	float: right;
	margin-right: 20px;
}
.advGold{
	height: 120px;
	margin: 5px 0 0 0;
	border-radius: 5px;
	padding: 20px;
	font-size: 16px;
	line-height: 20px;
}
#budgetImg {
	display: block;
	margin: 0 auto;
}

.budgWar{
	color: rgb(202, 1, 1);
	margin-right: 10px;
}
.forSub{
	width: 100%;
}
.cancelEdit{
	width: 65px;
	float: right;
	margin-right: 10px;
}
.edtSubmit{
	float: right;
	margin-right: 10px;
}
i{
	float: right;
}
