
.anim {
    transition: all 0.4s ease-in-out 0s;
}
.profTable {
    background: none repeat scroll 0 0 #FFF3DA;
    border-radius: 10px 10px 10px 10px;
    font-family: b nazanin;
    font-size: 13px;
}
.home {
    background: none repeat scroll 0 0 #FDFFB0;
    border-radius: 5px 5px 5px 5px;
    min-height: 500px;
    padding: 20px 20px 100px;
}
.message-box {
    background: none repeat scroll 0 0 #FFF3DA;
    border-radius: 8px 8px 8px 8px;
    display: none;
    float: right;
    height: 180px;
    margin: 15px 25px;
    width: 260px;
}
.warning {
    border-bottom: 2px solid #D5CBCB;
    display: none;
    font-family: b nazanin;
    font-size: 26px;
    height: 30px;
    margin: 20px 23px;
    width: 220px;
}
.message {
    height: 100px;
    margin: 20px 30px;
    width: 250px;
}
.textBox {
    height: 200px;
    width: 700px;
}
.head {
    font-family: phalls tannaz;
    font-size: 40px;
    padding: 15px 30px;
    width: 500px;
}
#contact {
    border: 1px solid #999999;
    box-shadow: 2px 2px 5px #666666;
    padding: 8px;
    width: 40%;
}
.rrow {
    padding: 5px;
}
.rrow label {
    display: inline-block;
    width: 100px;
}
#menu {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: 49px;
}
.home_menuItem a {
    color: #000000;
    display: block;
    float: left;
    font-family: b nazanin;
    font-size: 13px;
    line-height: 13px;
    margin: 7px;
    padding: 10px;
    text-align: center;
    width: 40px;
}
.passIn {
    float: right;
    margin-top: 22px;
    width: 180px;
}
.pass {
    float: right;
    font-size: 13px;
    margin-left: 10px;
    margin-right: 45px;
    margin-top: 25px;
    width: 100px;
}
.passRow {
    border-top-width: 2px;
    float: right;
    height: 60px;
    width: 100%;
}
.errRow {
    float: right;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
    width: 390px;
}
#line {
    background: none repeat scroll 0 0 #FDFFB0;
    height: 10px;
}
.menuItem {
    float: right;
    line-height: 50px;
    text-align: center;
    width: 120px;
}
.menuItem.active {
    background: none repeat scroll 0 0 #FDFFB0;
}
.menuItem:hover {
    cursor: pointer;
    font-weight: bold;
}
.menuItem.active:hover {
    background: none repeat scroll 0 0 #FDFFB0;
    font-weight: normal;
}
.error {
    color: #FF0000;
    display: none;
    float: right;
    margin: 15px 51px 0 0;
    text-shadow: 0 1px 0 #DDDDDD;
    width: 200px;
}
.setOpacity {
    opacity: 0.5;
}
.show {
    display: block !important;
}
.adv {
    border-radius: 5px 5px 5px 5px;
    height: 120px;
    margin: 5px 0 0;
    padding: 20px;
}
.advImg {
    height: 100%;
    width: 30%;
}
#home .advText {
    height: 100%;
    line-height: 25px;
    padding: 0 10px 0 0;
    width: 68%;
}
.right {
    float: right;
    margin-right: 25px;
}
.left {
    float: left;
    margin-left: 25px;
}
.topic {
    font-family: b nazanin;
    font-size: 20px;
    font-weight: bold;
}
.exit {
    float: left;
}
.verify {
    float: left;
    margin-left: 70px;
}
.successReg {
    background: none repeat scroll 0 0 #DEFFAE;
    display: none;
    height: 25px;
    margin-right: 355px;
    width: 220px;
}
#forReg {
    padding: 20px;
}
