.anim {
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.profTable {
	background: #FFF3DA;
	font-family: tahoma;
	font-size: 13px;
	border-radius: 10px;
}

.barItem {
	line-height: 28px;
	color: black;
	border-bottom: 1px solid rgb(213, 213, 213);
}
.barItem a {
	display: block;
	text-decoration: none;
	color: black;
	padding: 0px 10px 0px 0px;
}
.barItem a:hover {
	background: rgb(207, 207, 207);
	color: rgb(29, 29, 148);
}
.lastBarItem {
	border-bottom: none;
}
.barItem.active {
	background: rgb(191, 191, 245);
}

#inCon {
	width: 4000px;
	margin-right: -20px;
}
.solsCon {
	width: 725px;
	float: right;
	padding: 20px;
}
#home {
	overflow: hidden;
	background: rgb(253, 255, 176);
	float: top;
	min-height: 500px;
	margin: 5px 5px 0 0;
	border-radius: 5px;
	padding: 20px;
}
.message-box {
	background: #FFF3DA;
	width: 260px;
	height: 180px;
	float: right;
	margin: 15px 25px;
	border-radius: 8px;
	display: none;
}
.warning {
	font-size: 26px;
	font-family: b yekan;
	width: 220px;
	border-bottom: 2px solid rgb(213, 203, 203);
	height: 30px;
	margin: 20px 23px;
	display: none;
}
.message {
	width: 250px;
	height: 100px;
	margin: 20px 30px;
}
.textBox {
	height: 200px;
	width: 700px;
}
.head {
	font-size: 40px;
	font-family: phalls tannaz;
	padding: 15px 30px;
	width: 500px;
}

#contact {
	width: 40%;
	box-shadow: 2px 2px 5px #666;
	border: 1px solid #999;
	padding: 8px;
	/*	margin: 0 auto;*/
}
.rrow {
	padding: 5px;
}
.rrow label {
	width: 100px;
	display: inline-block;
}
#menu {
	height: 60px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

.home_menuItem a {
	display: block;
	padding: 10px 10px 10px 10px;
	width: 60px;
	line-height: 30px;
	text-align: center;
	float: left;
	color: black;
	font-family: B kamran;
	font-size: 20px;
	font-weight: bold;
}
.home_menuItem:hover a {
	text-decoration: none;
	color: rgb(10, 47, 196);
	font-weight: normal;
}
#login {
	display: none;
	font-family: tahoma;
	font-size: 13px;
	border-radius: 10px;
	width: 400px;
	height: 220px;
	z-index: 100;
	position: absolute;
	top: 190px;
	left: 50%;
	margin-left: -200px;
	background-color: rgb(247, 247, 247);
	border: 4px solid rgb(9,116,138);
}
#reg {
	display: none;
	font-family: tahoma;
	font-size: 13px;
	border-radius: 10px;
	width: 400px;
	height: 500px;
	z-index: 101;
	background-color: rgb(247, 247, 247);
	border: 4px solid rgb(9,116,138);
	position: absolute;
	top: 190px;
	left: 50%;
	margin-left: -200px;
}
.passIn {
	float: right;
	margin-top: 22px;
	width: 180px;
}

.pass {
	margin-top: 25px;
	margin-right: 45px;
	margin-left: 10PX;
	float: right;
	width: 100px;
	font-size: 13px;
}
.savePass {
	width: 100px;
	margin: 15px 320px;
}
.passRow {
	height: 60px;
	border-top-width: 2px;
	width: 400px;
	float: right;
}
.errRow {
	height: 30px;
	width: 390px;
	margin-left: 5px;
	margin-right: 5px;
	float: right;
}
.close {
	height: 30px;
	width: 400px;
}
.closePic {
	background: url("../img/close.png") no-repeat 0px 10px;
	margin: 10px 10px;
	height: 40px;
	width: 31px;
	margin: 0px 0px;
}
#line {
	height: 10px;
	background: rgb(253, 255, 176);
	float: top;
}
.menuItem {
	margin-left: -30px;
	height: 40px;
	width: 140px;
	float: right;
	text-align: center;
	padding-top: 20px;
}
.menuItem.active {
	background: rgb(253, 255, 176);
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	
}
.menuItem:hover {
	font-weight: bold;

}
.menuItem.active:hover {
	background: rgb(253, 255, 176);
	font-weight: normal;
}
