body {
	direction: rtl;
	font-family: tahoma;
}
input, textarea, select {
	font-family: tahoma;
}
button.btn {
	font-family: tahoma;
}
#header {
	background: url(../img/header.png) -18px 0 no-repeat;
	text-align: right;
	height: 130px;
}
#header h1 {
	padding: 36px 20px;
	font-size: 100px;
	margin: 0;
}
#content {
	background: rgb(253, 255, 176);
	float: right;
	width: 730px;
	min-height: 500px;
	border-radius: 5px;
	padding: 20px;
}
#sidebar {
	background: #F2F3F0;
	float: right;
	width: 180px;
	margin: 5px;
	border-radius: 5px;
	font-family: tahoma;
	font-size: 13px;
}
#main {
	margin: 0 auto;
	width: 960px;
}
#menu {
	background: #BEF56E;
	border-radius: 5px;
}
.menuItem{
	float: right;
	
}
.menuItem a {
	display: block;
	padding: 10px 10px 10px 10px;
	width: 100px;
	line-height: 30px;
	text-align: center;
	color: black;
	font-family: B kamran;
	font-size: 20px;
	font-weight: bold;
}
.menuItem:hover a {
	text-decoration: none;
	color: rgb(10, 47, 196);
	font-weight: normal;
}
#user {
	width: 200px;
	background: #F2F3F0;
	height: 30px;
	position: fixed;
	top: 0;
	margin-top: 5px;
	left: 50%;
	margin-left: -710px;
	border-radius: 5px;
	padding: 10px;
	float: right;
}
#userName {
	width: 70%;
	float: right;
}
#logout_link {
	color: white;
	text-decoration: none;
}
#line {
	height: 10px;
	background: rgb(253, 255, 176);
	float: top;
}
.active{
	background: rgb(253, 255, 176);
}
