body{
	direction: rtl;
	font-family: tahoma;
}
input, textarea, select{
	font-family: tahoma;
}
button.btn {
	font-family: tahoma;
}
#header {
	background: url(../img/5toman.png) -18px 0 no-repeat;
	text-align: right;
	height: 130px;
	font-family: phalls tannaz;
}
#header h1 {
	padding: 36px 20px;
	font-size: 100px;
	margin: 0;
}
#content {
	background: rgb(253, 255, 176);
	float: right;
	width: 725px;
	min-height: 500px;
	margin: 5px 5px 0 0;
	border-radius: 5px;
	padding: 20px;
}
#sidebar {
	background: #F2F3F0;
	float: right;
	width: 180px;
	margin: 5px;
	border-radius: 5px;
	font-family: tahoma;
	font-size: 13px;
}
#main {
	margin: 0 auto;
	width: 960px;
}
#menu {
	background: #BEF56E;
	border-radius: 5px;
}
.menuItem a {
	display: block;
	padding: 10px 10px 10px 10px;
	width: 100px;
	line-height: 30px;
	text-align: center;
	float: right;
	
	color: black;
	font-family: B kamran;
	font-size: 20px;
	font-weight: bold;
}
.menuItem:hover a{
	text-decoration: none;
	color: rgb(10, 47, 196);
	font-weight: normal;
}
#user{
	width: 200px;
	background: red;
	height: 100px;
	position: fixed;
	top: 0;
	left: 20%;
	margin-left: -100px;
}
#nearMain {
}