h1, h2, h3, h4, h5, h6 {
    font-family: b-yekan;
}

body {
	direction: rtl;
	font-family: b-yekan;
}
ul{
	list-style: none;
}
input, textarea, select {
	font-family: b-yekan;
}
button.btn {
	font-family: b-yekan;
}
#header {
	background: url(../img/header.png) -18px 0 no-repeat;
	text-align: right;
	height: 130px;
}
#header h1 {
	padding: 36px 20px;
	font-size: 100px;
	margin: 0;
}
#content {
	background: rgb(253, 255, 176);
	float: right;
	width: 730px;
	min-height: 500px;
	border-radius: 5px;
	padding: 20px;
	padding-bottom: 200px;
}
#sidebar {
	background: #F2F3F0;
	float: right;
	width: 180px;
	margin: 5px;
	border-radius: 5px;
	font-family: tahoma;
	font-size: 13px;
}
#main {
	margin: 0 auto;
	width: 960px;
}
#menu {
	background: #BEF56E;
	border-radius: 5px;
}
.menuItem{
	float: right;
	
}
.menuItem a {
	display: block;
	padding: 10px 10px 10px 10px;
	width: 100px;
	line-height: 30px;
	text-align: center;
	color: black;
	font-family: Tahoma;
	font-size: 13px;
}
.menuItem:hover a {
	text-decoration: none;
	color: rgb(10, 47, 196);
	font-weight: normal;
}
#user {
	border-radius: 5px;
	padding: 10px 10px 0 10px;
	text-align: left;
	border: 1px dotted #ccc;
	float: left;
	margin: 5px 10px;
	height: 27px;
}
#userName {
	text-align: left;
	padding-left: 15px;
	display: inline-block;
	float: right;
	margin-top: -2px;
}
#logout_link {
	text-decoration: none;
	color: black;
}
#line {
	height: 10px;
	background: rgb(253, 255, 176);
	float: top;
}
.active{
	background: rgb(253, 255, 176);
}


.sgn-out{
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url(../img/signout-black.png) 0px 0 no-repeat;
    margin-top: -3px;
}

.sgn-out:hover{
    background: url(../img/signout-red.png) 0px 0 no-repeat;
    cursor: pointer;
}

