.anim {
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.profTable {
	background: #FFF3DA;
	font-family: tahoma;
	font-size: 13px;
	border-radius: 10px;
}
.passTable {
	font-family: tahoma;
	font-size: 13px;
	border-radius: 10px;
	width: 400px;
	float: right;
}

.barItem {
	line-height: 28px;
	color: black;
	border-bottom: 1px solid rgb(213, 213, 213);
}
.barItem a {
	display: block;
	text-decoration: none;
	color: black;
	padding: 0px 10px 0px 0px;
}
.barItem a:hover {
	background: rgb(207, 207, 207);
	color: rgb(29, 29, 148);
}
.lastBarItem {
	border-bottom: none;
}
.barItem.active {
	background: rgb(191, 191, 245);
}

#inCon {
	width: 4000px;
	margin-right: -20px;
}
.solsCon {
	width: 725px;
	float: right;
	padding: 20px;
}
#content {
	overflow: hidden;
}
.infType {
	font-family: tahoma;
	margin: 25px 20px;
	float: right;
	width: 120px;
	font-size: 16px;
}
.inf {
	font-size: 14px;
	margin: 25px 7px;
	float: right;
	width: 160px;
}
.profRow {
	height: 70px;
	border-top-width: 2px;
	border-bottom: 1px solid rgb(213, 203, 203);
}

.edit {
	float: left;
	margin: 28px 0 20px 20px;
}

.save {
	float: right;
	margin: 10px 10px 0 0;
}
.newInp {
	float: right;
	
	/* margin: 15px; */
	margin-top: 20px;
	display: none;
}
.inp {
	float: right;
	margin: 0;
	padding: 0;
}
.passIn {
	float: right;
	margin-top: 22px;
}

.pass {
	margin: 25px 20px;
	float: right;
	width: 130px;
	font-size: 13px;
	font-family: Tahoma;
}
.savePass {
	width: 100px;
	margin: 15px 320px;
}
.passRow {
	height: 70px;
	border-top-width: 2px;
	width: 400px;
	float: right;
}
.message-box {
	background: #FFF3DA;
	width: 260px;
	height: 180px;
	float: right;
	margin: 15px 25px;
	border-radius: 8px;
	display: none;
}
.warning {
	font-size: 26px;
	font-family: tahoma;
	width: 220px;
	border-bottom: 2px solid rgb(213, 203, 203);
	height: 30px;
	margin: 20px 23px;
	display: none;
}
.message {
	width: 250px;
	height: 100px;
	margin: 20px 30px;
}

.extRow {
	padding-right: 20px;
	border-bottom: 1px solid rgb(213, 203, 203);
	padding-bottom: 40px;
}
.cost {
	margin: 3px;
}
.bank {
	float: left;
	margin-top: 8px;
	margin-left: 20px;
}
.exTitle {
	font-family: tahoma;
	font-size: 20px;
	width: 130px;
	height: 40px;
	padding-top: 16px;
}
.historyRow {
	height: 50px;
	border-bottom: 1px solid rgb(213, 203, 203);
}
.historyRow.head {
	font-size: 22px;
	font-family: tahoma;
}

.tranPay, .tranDate, .tranDes, .tranCat{
	line-height: 40px;

	padding: 4px 7px;
	display: table-cell;
}
.tranPay {
	width: 70px;
}
.tranDate{
	width: 90px;
}
.tranDes{
}
.sub{
	height: 10px;
	width: 20px;
}
.txt {
text-shadow: 0px 1px 0px #ddd;
width: 200px;
float: right;
margin: 15px 21px 0px 0px;
color:rgb(5,164,77);
display: none;
}
.edt{
	text-align: left;	
	width: 63px;
	margin-right: 4px;
}

.edit:hover{
    cursor: pointer;
}