.anim{
-webkit-transition: all 0.4s ease-in-out;
-moz-transition: all 0.4s ease-in-out;
-ms-transition: all 0.4s ease-in-out;
-o-transition: all 0.4s ease-in-out;
transition: all 0.4s ease-in-out;
}
.tranTable {
	background: #FFF3DA;
	font-family: Tahoma;
	font-size: 15px;
	border-radius: 10px;
	padding: 15px 10px;
}

.tranRow {
	height: 50px;
	display: table-row;
}
.tranRow.head {
	font-size: 22px;
	font-family: b nazanin;
}
.tranPay, .tranDate, .tranDes, .tranCat{
	line-height: 40px;
}
.tranType {
	width: 20px;
}
.tranPay, .tranDate, .tranDes, .tranType , .tranCat{
	padding: 4px 7px;
	display: table-cell;
	border-bottom: 1px solid rgb(213, 203, 203);
}
.tranType.up{
	background: url(../img/uarr.png) no-repeat 0 10px;
}
.tranType.down{
	background: url(../img/darr.png) no-repeat 0 10px;
}
.tranPay {
	width: 80px;
}
.tranDate{
	width: 90px;
}
.tranDes{
}
.tranCat{
	width: 160px;
}

.cat-table{
	/*box-shadow: 5px 5px 10px #888;*/
}
.cat-table .xrow {
	line-height: 30px;
	padding-right: 10px;
}
/*.cat-table .xrow:nth-child(odd) {
	background: #FFF6B8;
}
.cat-table .xrow:nth-child(even) {
	background: #FFCE77;
}*/
.cat-table .cat{
	margin-top: 25px;
	border-bottom: 1px solid #AA8E1F;
}
.cat-table .subcat{
	border-bottom: 1px solid #FCD436;
}
.cat-table .cat:first-child{
	/*border-top: none;*/
}
.cat-table .xrow .name{
	float: right;
	width: 220px;
}
.cat-table .cat .name{
	font-weight: bold;
}
.cat-table .subcat .name{
	padding-right: 40px;
	margin-left: -40px;
}
.cat-table .xrow{
	vertical-align: middle;
}
/*.cat-table .xrow .name, .cat-table .xrow .edit, .cat-table .xrow .remove{*/
.cat-table .xrow > * {
	margin-right: 5px;
}
.cat-table .add {
	margin-right: -250px;
}
.cat-table .add.out {
	margin-right: 0;
}
.cat-table .add input {
	margin: 5px 0 5px 24px;
}
.cat-table [class^=icon] {
	cursor: pointer;
}
.hider{
	overflow: hidden;
}
#inCon {
	width: 3500px;
	margin-right: -20px;
}
.solsCon {
	width: 715px;
	float: right;
	padding: 20px;
}
#content {
	overflow: hidden;
}

/* --------------------- Header ------------------------------ */
#content .header{
	margin-top: -20px;
}

/* --------------------- Filter ------------------------------ */

#content .filter {
	width: 100%;
	border: 1px dotted #CCC;
	border-radius: 5px;
	padding: 3px 0px;
	margin-bottom: 25px;
}

#content .filter .wrapper{
    padding: 1px 0px ;
}

#content .filter .criteria{
	float:right;
}

#content .filter .criteria.account{
    margin: 0px 30px 0px 0px;
}

#content .filter .criteria.account > *{
    min-width: 150px;
}

#content .filter .criteria.time > *{
    min-width: 150px;
}

#content .filter .criteria .caret{
    position: absolute;
    left: 10px;
}

#content .filter .criteria.time{
    margin: 0px 45px 0px 0px;
}

#content .filter .criteria.type{
	float:left;
	float: right;
    
	margin: 5px 152px 0px 60px;
}

#content .filter .criteria.type .bar{
    background: transparent url('../img/chart_icons.png') no-repeat -27px -61px;
    position: relative;
    border-right: 1px solid #CCC;
    padding-right: 5px;
    height: 20px;
    width: 24px;
    display: inline-block;
    cursor: pointer;
}

#content .filter .criteria.type .bar.active{
    background-position: -27px 0px;
    cursor: default;
}

#content .filter .criteria.type .pie{
    background: transparent url('../img/chart_icons.png') no-repeat 0 -62px;
    height: 20px;
    width: 27px;
    display: inline-block;
    cursor: pointer;
}

#content .filter .criteria.type .pie.active{
    background-position: 0 0px;
    cursor: default;
}

#content .filter .refresh{
    margin: 0px -100px 0px 15px;
    float: left;
    width: 100px;
}

/* --------------------- Detail ------------------------------ */

#content .detail{
    margin: 10px 0px 0px 0px;
    font-family: Tahoma;
    font-size: 13px; 
    color: #777;
}

#content .detail .tableWrapper{
	float: right;
	width: 300px;
	padding: 0px 20px 0px 5px;
	border-left: 1px dotted #CCC;
}

#content .detail .extra{
	float: right;
	width: 346px;
	margin-right: 20px;
}


/* --------------------- Genral ------------------------------ */
#general .chart{
     width:370px;
    display: inline-block;
    float: left ;
}

#general .boxes{
    float: right;
    width: 270px;
    display: inline-block;
}

#general .boxes .item{
    background: #ffffff;
    border: 1px solid #eee ;
    border-radius: 5px;
    margin: 0px 0px 43px 0px;
}

#general .boxes .item .head-item{
    background: #B1ADF9;
    border-radius: 5px 5px 0px 0px;
    padding: 8px 10px;
    font-family: b nazanin;
    font-size: 21px;
    color: #274B6D;
}
#general .boxes .item .row-item{
    font-family: Tahoma;
    font-size: 13px;
    color: #4D759E;
    padding: 10px 15px;
}

#general .boxes .item .row-item .title{
    float: right;
    color: #666;
}

#general .boxes .item .row-item .value{
    float: left;
}

#general .boxes .item .row-item:not(:last-child){
    border-bottom: 1px dotted #ccc;
}

#general .info .title-header{
    font-family: b nazanin;
    font-size: 21px;
    color: #333;
    margin-bottom: 38px;
}

/* --------------------- Budget ------------------------------ */
	#general .budget-info{
    position: relative;
    margin-top: -40px;
}
#general .budget-info .title{
    position: absolute;
    background: #B1ADF9;     border-radius: 5px 5px 0px 0px;     padding: 8px 10px;
    font-family: b nazanin;
    font-size: 21px;     color: #274B6D;
    
    width: 246px;
    border: 1px solid #ccc;
    border-bottom: 0px;
    margin-bottom: -1px;
    top: -36px;
}
#general .budget-info .budget-container{
    background: #fff;
    border: 1px solid #ccc ;
    border-radius: 7px 0px 5px 5px;
    margin: 0px 0px 40px 0px;
    width: 92%;
    padding: 15px 17px;
}

#general .budget-info .remainBug:not(:last-child){
    margin-bottom: 10px;
    border-bottom: 1px dotted #ccc;
}


#general .budget-info .bugName{
    font-family: Tahoma;
    font-size: 15px; color:  #4D759E; 
    padding: 5px 0px 8px 15px;

    float: right;
    display: inline-block;
}

#general .budget-info .bug-detail{
    float: left;

    display: inline-block;
    position: absolute;
    left: 50px;
    text-align: left;
    margin-top: 5px;
}

#content .detail .extra h5{
    font-size: 25px;
}

#content .detail .extra .total{
    margin: 15px;
    font-size: 23px;
}