.anim {
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.noanim {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-o-transition: none !important;
	-ms-transition: none !important;
	transition: none !important;
}
#calendar{
	margin-bottom: 10px;
	margin-left: -4px;
	padding-left: 4px;
	padding-right: 4px;
	
}
#calendar-icon {
	width: 25px;
	height: 22px;
	background: url(../img/Calendar-icon-1.png) repeat;
}
.tranTable {
	background: #FFF3DA;
	font-family: tahoma;
	font-size: 13px;
	border-radius: 10px;
	margin-top: 20px;
}
.tranRow {
	height: 50px;
	display: table-row;
	padding-right: 30px;
}
.tranRow.head {
	font-size: 22px;
	font-family: b yekan;
}
.tranPay, .tranDate, .tranDes, .tranCat, .tranBA {
	line-height: 40px;
}
.tranType {
	width: 55px;
}
.tranPay, .tranDate, .tranDes, .tranType, .tranCat, .tranBA {
	padding: 4px 7px;
	display: table-cell;
	border-bottom: 1px solid rgb(213, 203, 203);
	border-bottom: 1px solid rgb(213, 203, 203);
}
.tranType.up {
	background: url(../img/uarr.png) no-repeat 0 10px;
}
.tranType.down {
	background: url(../img/darr.png) no-repeat 0 10px;
}
.tranPay {
	width: 75px;
}
.tranDate {
	width: 105px;
}
.tranDes {
	width: 320px;
}
.tranCat {
	width: 160px;
}
.tranBA {
	width: 120px;
}
.barItem {
	line-height: 28px;
	color: black;
	border-bottom: 1px solid rgb(213, 213, 213);
}
.barItem a {
	display: block;
	text-decoration: none;
	color: black;
	padding: 0px 10px 0px 0px;
}
.barItem a:hover {
	background: rgb(207, 207, 207);
	color: rgb(29, 29, 148);
}
.lastBarItem {
	border-bottom: none;
}
.barItem.active {
	background: rgb(191, 191, 245);
	border-radius: 5px;
}

.cat-table {
}
.cat-table form {
	margin: 0;
}
.cat-table .xrow {
	line-height: 30px;
	padding-right: 10px;
}
.cat-table .xrow.add form, #addCat form {
	display: inline-block;
	margin: 0;
}
.cat-table .cat {
	margin-top: 25px;
	border-bottom: 1px solid #AA8E1F;
}
.cat-table .subcat {
	border-bottom: 1px solid #FCD436;
}
.cat-table .cat:first-child {
}
.cat-table .xrow .name {
	float: right;
	width: 220px;
}
.cat-table .cat .name {
	font-weight: bold;
}
.cat-table .subcat .name {
	padding-right: 40px;
	margin-left: -40px;
}
.cat-table .xrow {
	vertical-align: middle;
}
.cat-table .xrow > * {
	margin-right: 5px;
}
.cat-table .add {
	margin-right: -250px;
}
.cat-table .add.out {
	margin-right: 0;
}
.cat-table .add input {
	margin: 5px 0 5px 20px;
	width: 183px;
}
.cat-table [class^=icon] {
	cursor: pointer;
}
.hider {
	overflow: hidden;
}
#inCon {
	width: 3060px;
	margin-right: 1000px;
}
.solsCon {
	width: 725px;
	float: right;
	padding: 20px;
}
#content {
	overflow: hidden;
}
.tranPart {
	float: right;
	padding: 5px;
	height: 50px;
}
input#transaction {
	width: 119px;
}
input#auto {
	width: 200px;
}
#upOrDown {
	direction: ltr;
}
.icoUp {
	height: 31px;
	width: 31px;
	background-image: url(../img/uarr.png);
}
.icoDown {
	height: 31px;
	width: 31px;
	background-image: url(../img/darr.png);
}
.selected {
	background: rgb(200,200,200);
	background-position: 0px -15px;
}
#upOrDown .btn {
	padding: 0px;
}
input#desc.auto {
	width: 512px;
	margin-left: 50px;
}
input#desc {
	width: 520px;
	margin-left: 73px;
}

input.transaction {
	width: 130px;
}
input.auto {
	width: 119px;
}

h3 {
	font-family: b yekan;
}
#moshakhasat {
	color: #777;
}
.loading {
	background: url(../img/loading.gif);
	width: 24px;
	height: 24px;
	display: none;
}
#syncConfig {
	margin: 20px auto;
	padding: 20px;
	border-radius: 10px;
	width: 40%;
}
#sync .tranTable {
	margin-bottom: 20px;
}
#catHead {
	float: right;
	width: 350px;
}
#addCat {
	float: right;
	margin: 20px;
}
#catHeadInput {
	margin: 0px;
}
.TranEdit {
	float: left;
	cursor: pointer;
}
.TranRemove {
	float: left;
	width: 20px;
	cursor: pointer;
}
.TranER {
    width: 35px;
	margin-right: 0px;
}

.TRedit {

	height: 100px;
	margin: 5px;
	border-bottom: 1px solid rgb(213, 203, 203);
	display: none;
	padding-right: 10px;
}

.tranPayEdit {
	padding: 4px;
	width: 65px;
}
.tranDateEdit {
	width: 80px;
}
#addTran{
	margin-top: 25px;
}
.tranDesEdit {
	width: 520px;
	margin-left: 40px;
	margin-right: 10px;
}
.tranPayEdit, .tranDateEdit, .tranTypeEdit, .tranCatEdit, .catEditList, .BAEditList, #upOrDownEdit {
	float: right;
	margin-left: 10px;
	margin-top: 10px;
}
#upOrDownEdit {
	margin: 8px;
	direction: ltr;
}
#upOrDownEdit .btn {
	padding: 0px;
}
.btn-warning {
	font-family: Tahoma;
	height: auto;
}
.editAction {
	font-family: Tahoma;
	height: 23px;
	text-align: center;
	border-radius: 3px;
}


.edt {
	display: none;
}
.edtCat {
	margin-bottom: 10px;
}
#addTR-err {
	padding-bottom: 10px;
	padding-right: 5px;
	text-shadow: 0px 1px 0px #ddd;
	color: #f00;
	display: none;
}
#shado{
	    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(237, 27, 36, 0.6);

}

#BAList {
	width: 110px;
	float: right;
}
#catList {
	width: 150px;
	float: right;
}
#two_level {
	width: 150px;
	height: 20px;
	overflow: hidden;
}
#one_level {
	width: 110px;
	height: 20px;
	overflow: hidden;
}
.TRedit #catList {
	margin-top: 10px;
	margin-left: 30px;
}

#catList > li {/* Top Level */
	float: right;
	margin-right: 3px;
	position: relative;
	width: 130px;
	border-radius: 10px;
}

#catList > li > option {
	display: block;
	/* background:#0ac;*/
	padding: 3px 10px;
}

#catList > li > ul {/* Second Level */
	display: none;
	width: 100px;
	/*    background:#08a;*/
}
#catList > li:hover > ul {
	display: block;
	position: absolute;
	right: 0;
	top: 90%;
}
#catList > li > ul > li > option {
	display: block;
	padding: 3px 10px;
	border-top: solid 1px #fff;
	position: relative;
}
#catList > li > ul > li:hover > option {
	background-color: rgb(0, 129, 194);
	color: #FFFFFF;
	cursor: pointer;
}

#catList > li > ul li > ul {/* Third Level & beyond */
	display: none;
	/*    background:#068;*/
}
#catList > li > ul li:hover > ul {
	display: block;
	position: absolute;
	right: 100%;
	border-right: solid 1px #fff;
	top: 0;
	width: auto;
}
#catList > li > ul > li ul > li {
	display: block;
	padding: 3px 10px;
	border-top: solid 1px #fff;
}
#catList > li > ul > li ul > li:hover {
	background-color: rgb(0, 129, 194);
	color: #FFFFFF;
	cursor: pointer;
}

.TRedit #BAList {
	margin-top: 10px;
}

#BAList > li {/* Top Level */
	float: right;
	margin-right: 3px;
	position: relative;
	width: 150px;
	border-radius: 10px;
}

#BAList > li > option {
	display: block;
	/* background:#0ac;*/
	padding: 3px 10px;
}

#BAList > li > ul {/* Second Level */
	display: none;
	width: 100px;
	/*    background:#08a;*/
}
#BAList > li:hover > ul {
	display: block;
	position: absolute;
	right: 0;
	top: 90%;
}
#BAList > li > ul > li > option {
	display: block;
	padding: 3px 10px;
	border-top: solid 1px #fff;
	position: relative;
	cursor: pointer;
}
#BAList > li > ul > li:hover > option {
	background-color: rgb(0, 129, 194);
	color: #FFFFFF;
}
a:link {
	text-decoration: none;
}


ul.base-menu{
    text-align: left;
}

#cat-account > * {
    min-width: 110px;
}

#cat-menu > * {
    min-width: 150px;
}


.edit-cat-account > * {
    min-width: 110px;
}

.edit-cat-menu > * {
    min-width: 150px;
}

.edit-cat-menu, .edit-cat-account{
    margin: 10px 8px 7px 8px;
}

.filter-cat .caret{
    position: absolute;
    left: 10px;
}


.tranTZ{
    width: 100px;
    display: table-cell;
}
