.anim {
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.noanim {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}
.tranTable {
	background: #FFF3DA;
	font-family: tahoma;
	font-size: 13px;
	border-radius: 10px;
	margin-top: 20px;
}
.tranRow {
	height: 50px;
	display: table-row;
	padding-right: 30px;
}
.tranRow.head {
	font-size: 22px;
	font-family: b yekan;
}
.tranPay, .tranDate, .tranDes, .tranCat, .tranBA {
	line-height: 40px;
}
.tranType {
	width: 55px;
}
.tranPay, .tranDate, .tranDes, .tranType, .tranCat, .tranBA {
	padding: 4px 7px;
	display: table-cell;
	border-bottom: 1px solid rgb(213, 203, 203);
	border-bottom: 1px solid rgb(213, 203, 203);
}
.tranType.up {
	background: url(../img/uarr.png) no-repeat 0 10px;
}
.tranType.down {
	background: url(../img/darr.png) no-repeat 0 10px;
}
.tranPay {
	width: 75px;
}
.tranDate {
	width: 105px;
}
.tranDes {
	width: 320px;
}
.tranCat {
	width: 110px;
}
.tranBA {
	width: 160px;
}
.barItem {
	line-height: 28px;
	color: black;
	border-bottom: 1px solid rgb(213, 213, 213);
}
.barItem a {
	display: block;
	text-decoration: none;
	color: black;
	padding: 0px 10px 0px 0px;
}
.barItem a:hover {
	background: rgb(207, 207, 207);
	color: rgb(29, 29, 148);
}
.lastBarItem {
	border-bottom: none;
}
.barItem.active {
	background: rgb(191, 191, 245);
	border-radius: 5px;
}

.cat-table {
}
.cat-table form {
	margin: 0;
}
.cat-table .xrow {
	line-height: 30px;
	padding-right: 10px;
}
.cat-table .xrow.add form, #addCat form {
	display: inline-block;
	margin: 0;
}
.cat-table .cat {
	margin-top: 25px;
	border-bottom: 1px solid #AA8E1F;
}
.cat-table .subcat {
	border-bottom: 1px solid #FCD436;
}
.cat-table .cat:first-child {
}
.cat-table .xrow .name {
	float: right;
	width: 220px;
}
.cat-table .cat .name {
	font-weight: bold;
}
.cat-table .subcat .name {
	padding-right: 40px;
	margin-left: -40px;
}
.cat-table .xrow {
	vertical-align: middle;
}
.cat-table .xrow > * {
	margin-right: 5px;
}
.cat-table .add {
	margin-right: -250px;
}
.cat-table .add.out {
	margin-right: 0;
}
.cat-table .add input {
	margin: 5px 0 5px 20px;
	width: 183px;
}
.cat-table [class^=icon] {
	cursor: pointer;
}
.hider {
	overflow: hidden;
}
#inCon {
	width: 3060px;
	margin-right: 1000px;
}
.solsCon {
	width: 725px;
	float: right;
	padding: 20px;
}
#content {
	overflow: hidden;
}
.tranPart {
	float: right;
	padding: 5px;
	height: 50px;
}
input#transaction {
	width: 119px;
}
input#auto {
	width: 200px;
}
#upOrDown {
	direction: ltr;
}
.icoUp {
	height: 31px;
	width: 31px;
	background-image: url(../img/uarr.png);
}
.icoDown {
	height: 31px;
	width: 31px;
	background-image: url(../img/darr.png);
}
.selected{
	background: rgb(200,200,200);
	background-position:0px -15px;
}
#upOrDown .btn {
	padding: 0px;
}
input#desc.auto {
	width: 502px;
	margin-left: 50px;
}
input#desc {
	width: 520px;
	margin-left: 60px;
}

input.transaction {
	width: 130px;
}
input.auto {
	width: 119px;
}

h3 {
	font-family: b yekan;
}
#moshakhasat {
	color: #777;
}
.loading {
	background: url(../img/loading.gif);
	width: 24px;
	height: 24px;
	display: none;
}
#syncConfig {
	margin: 20px auto;
	padding: 20px;
	border-radius: 10px;
	width: 40%;
}
#sync .tranTable {
	margin-bottom: 20px;
}
#catHead {
	float: right;
	width: 350px;
}
#addCat {
	float: right;
	margin: 20px;
}
#catHeadInput {
	margin: 0px;
}
.TranEdit {
	float: left;
	cursor: pointer;
}
.TranRemove {
	float: left;
	width: 20px;
	cursor: pointer;
}
.TranER {
	width: 130px;
	float: left;
}

.TRedit {

	height: 100px;
	margin: 5px;
	border-bottom: 1px solid rgb(213, 203, 203);
	display: none;
	padding-right: 10px;
}

.tranPayEdit {
	padding: 4px;
	width: 65px;
}
.tranDateEdit {
	width: 80px;
}
.tranDesEdit {
	width: 520px;
	margin-left: 60px;
}
.tranPayEdit, .tranDateEdit, .tranDesEdit, .tranTypeEdit, .tranCatEdit, .catEditList, .BAEditList {
	margin-top: 10px;
}
#upOrDownEdit {
	margin: 0px;
	direction: ltr;
}
#upOrDownEdit .btn {
	padding: 0px;
}
.btn-warning {
	font-family: Tahoma;
	height: auto;
}
.editAction {
	font-family: Tahoma;
	height: 23px;
	text-align: center;
	border-radius: 3px;
}
#catList {
	width: 150px;
}
#BAList {
	width: 150px;
}
.catEditList {
	width: 140px;
}
.BAEditList {
	width: 140px;
}
.edt {
	display: none;
}
.edtCat {
	margin-bottom: 10px;
}
#addTR-err{
	padding-bottom: 10px;
	padding-right: 5px;
	text-shadow: 0px 1px 0px #ddd;
	color: #f00;
}
