<!doctype html>
<head>
	<meta charset="utf-8">
	<title>اسکناس</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	{%block css%} {% endblock %}
	<script src="js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	{%block js%} {% endblock %}
</head>
<body>
<div id="main">
	<div id="header">
		<h1>اسکناس</h1>
	</div>
	<div id="menu">
		<div class="menuItem"><a href="report.html">گزارش‌گیری</a></div>
		<div class="menuItem"><a href="transaction.html">تراکنش</a></div>
		<div class="menuItem"><a href="budget.html">بودجه‌بندی</a></div>
		<div class="menuItem"><a href="profile.html">حساب‌ کاربری</a></div>
		<div class="clearfix"></div>
	</div>
	<div id="mainw">
	<div id="sidebar">
	{%block sidebar%}
	{%endblock%}
	</div>
	<div id="content">
	{%block content%}
	{%endblock%}
	</div>
	<div class="clearfix"></div>
	</div>
</div>
</body>
