{%extends 'base.html'%}

{%block css%}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/budget.css">
{%endblock%}

{%block js%}
<script src="{{STATIC_URL}}js/budget.js"></script>
{%endblock%}


{%block sidebar%}
{%endblock%}



{%block content%}
				<div id="addBudget">
			<div class="budgetPart">
				<button class="btn btn-success" >
					<i class="icon-plus icon-white"></i> بودجه
				</button>
				
			</div>
			<div class="budgetPart">
				<input type="text" placeholder="مبلغ">
			</div>
			<div class="budgetPart">
				<select id="catList">
					{%for c in cats%}
					<option class="catItem">{{c.name}}</option>
					{%endfor%}
				</select>
			</div>
		</div>
		<div class="clearfix"></div>
		{%for b in bugs%}
		<div class="remainBug">
			<div class="bugName">
				{{b.bugCat.name}}
			</div>
			<div class="progress progress-danger">
			 	<div class="bar" style="width: 99%;"> 99,000</div>
			</div>
			{{b.limit}}
		</div>
		{%endfor%}

{%endblock%}
