<!doctype html>
<head>
	<meta charset="utf-8">
	<title>اسکناس</title>
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/main.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/home.css">
	<script src="{{STATIC_URL}}js/jquery-1.7.2.min.js"></script>
	<script src="{{STATIC_URL}}js/home.js"></script>

	<!-- <link rel="stylesheet" type="text/css" href="css/flat-ui.css"> -->

</head>
<body>
	<form id="reg" method="post" action="/home/register/">
		<div class="close">
			<div class="closePic" ></div>
		</div>
		<div class="errRow">

			<div class="alert">
				<strong>Warning!</strong> TODO
			</div>
		</div>
		<div class="passRow">
			<div class="pass">
				نام
			</div>
			<input type="text"  class="passIn"name="first_name">
		</div>
		<div class="passRow">
			<div class="pass">
				نام خانوادگی
			</div>
			<input type="text"  class="passIn" name="last_name">
		</div>
		<div class="passRow">
			<div class="pass">
				پست الکترونیک
			</div>
			<input type="text"  class="passIn" name="email">
		</div>
		<div class="passRow">
			<div class="pass">
				نام کاربری
			</div>
			<input type="text"  class="passIn" name="username">
		</div>

		<div class="passRow">
			<div class="pass" >
				رمز عبور
			</div>
			<input type="password"  class="passIn" name="password">
		</div>
		<div class="passRow">
			<div class="pass">
				تکرار رمز عبور
			</div>
			<input type="password"  class="passIn" name="re_password">
		</div>

		<div class="passRow">
			<div class="savePass">
				<input type="submit" value="ثبت" class="btn btn-info">
			</div>
		</div>

	</form>
	<form id="login" action="/home/" method="post">
		<div class="close">
			<div class="closePic" ></div>
		</div>
		<div class="passRow">
			<div class="pass">
				نام کاربری
			</div>
			<input type="text"  class="passIn" name="username">
		</div>
		<div class="passRow">
			<div class="pass">
				رمز عبور
			</div>
			<input type="password"  class="passIn" name="password">
		</div>

		<div class="passRow">
			<div class="savePass">
				<input type="submit" value="ورود" class="btn btn-primary">
			</div>
		</div>

	</form>

	<div id="main">
		<div id="header">
			<h1>اسکناس</h1>
		</div>
		<div id="menu">
			<div class="menuItem active">
				درباره ما
			</div>
			<div class="menuItem">
				تماس با ما
			</div>
			<div class="home_menuItem" >
				<a href="/home/" id="login_link" >ورود</a>
			</div>
			<div class="home_menuItem" id="reg_link">
				<a href="/home/">عضویت</a>
			</div>

		</div>
		<div id="line"></div>

			<div id="home">

			</div>
	</div>

</body>
