{%extends 'base.html'%}
{%block css%}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/profile.css">
{%endblock%}

{%block js%}
<script src="{{STATIC_URL}}js/profile.js"></script>
{%endblock%}

{%block sidebar%}

<div class="barItem active">
	<a href="?">‌‌اطلاعات حساب</a>
</div>
<div class="barItem">
	<a href="?">تاریخچه‌ حساب</a>
</div>
<div class="barItem">
	<a href="?">تغییر رمزعبور</a>
</div>
<div class="barItem lastBarItem">
	<a href="?">
		{%if credit.isGolden%}
		تمدید حساب طلائی
		{%else%}
		ارتقا به حساب 
		{%endif%}
		
		</a>
</div>

{%endblock%}
{%block content%}
<div id="inCon" class="anim">
	<div class="solsCon">
		<div class="profTable">

			<div class="profRow">
				<div class="infType">
					نام
				</div>
				<div class="inf">
					{{user.first_name}}
				</div>

				<div class="newInp">
					<form method="post" action="/profile/edit/">
						<input name= "formID" value="1" type="hidden">
						<input type="text" class="inp" name="first_name">
					<input type= "submit" value="تایید" class="btn btn-success edt">
					<button class="btn btn-warning cancelEdit edt" >
						انصراف
					</button>
					</form>

				</div>
				<div class="icon-pencil edit"></div>
			</div>
			<div class="profRow">
				<div class="infType">
					نام خانوادگی
				</div>
				<div class="inf">
					{{user.last_name}}
				</div>
				<div class="newInp">
					<form method="post" action="/profile/edit">
						<input name= "formID" value="2" type="hidden">
						<input type="text" class="inp" name="last_name">
						<input type= "submit" value="تایید" class="btn btn-success edt">
					<button class="btn btn-warning cancelEdit edt" >
						انصراف
					</button>
					</form>

				</div>
				<i class="icon-pencil edit"></i>
			</div>
			<div class="profRow">
				<div class="infType">
					پست الکترونیکی
				</div>
				<div class="inf">
					{{user.email}}
				</div>

				<div class="newInp">
					<form method="post" action="/profile/edit">
						<input name= "formID" value="3" type="hidden">
						<input type="text" class="inp" name="email">
						<input type= "submit" value="تایید" class="btn btn-success edt">
					<button class="btn btn-warning cancelEdit edt" >
						انصراف
					</button>
					</form>

				</div>
				<div class="icon-pencil edit"></div>
			</div>
			{% if credit.isGolden%}
			<div class="profRow">
				<div class="infType">
					نوع حساب
				</div>
				<div class="inf">
					طلائی
				</div>

			</div>
			<div class="profRow">
				<div class="infType">
					اعتبار
				</div>
				<div class="inf">
					{{credit.remain}}
					 روز
				</div>

			</div>
			{%else%}
			<div class="profRow">
				<div class="infType">
					نوع حساب
				</div>
				<div class="inf">
					عادی
				</div>

			</div>
			{%endif%}

		</div>

	</div>
	<div class="solsCon">
		<div class="profTable">
			<div class="historyRow head">
				<div class="tranDate">
					تاریخ
				</div>
				<div class="tranPay">
					مبلغ
				</div>
				<div class="tranDes">
					توضیحات
				</div>
			</div>
			<div class="historyRow">
				<div class="tranDate">
					{{credit.registerDate}}
				</div>
				<div class="tranPay">
					-
				</div>
				<div class="tranDes">
					افتتاح حساب
				</div>
			</div>
			{%for p in plan%}
			<div class="historyRow">
				<div class="tranDate">
					{{p.plan_begin}}
				</div>
				<div class="tranPay">
					{{p.plan_money}}
				</div>
				<div class="tranDes">
					{%if p.isTamdid%}
					تمدید حساب طلائی
					{{p.duration}}

					ماهه
					{%else%}
					ارتقا به حساب طلائی
					{{p.duration}}
					ماهه

					{%endif%}
				</div>
			</div>
			{%endfor%}

		</div>
	</div>
	<div class="solsCon">
		<form class="passTable" method="post" action="/profile/changepass/">
			<div class="passRow">
				<div class="pass">
					رمز عبور قبلی
				</div>
				<input type="password"  class="passIn" name="last_pass">
			</div>
			<div class="passRow">
				<div class="pass">
					رمز عبور جدید
				</div>
				<input type="password"  class="passIn" name="new_pass">
			</div>
			<div class="passRow">
				<div class="pass">
					تکرار رمز عبور جدید
				</div>
				<input type="password"  class="passIn" name="re-new_pass">
			</div>
			<div class="passRow">
				<div class="txt" {%if sabt%} style="display: block" {%endif%}>با موفقیت ثبت شد.</div>
				<div class="savePass">
					<input type="submit" value="ثبت رمز" class="btn btn-primary">
				</div>
			</div>

		</form>
		<div class="message-box" {%if error%} style="display: block"	{%endif%}>
			<div class="warning" {%if error%} style="display: block"	{%endif%}>
				اخطار!
			</div>
			<div class="message">
				{%if error%} {{change_pass_err}}{%endif%}
			</div>
			
		</div>
	</div>
	<div class="solsCon">
		<div class="profTable">
			{% if not credit.isGolden%}
			<form class="extRow" id="ertegha-form" method="post" action="/profile/ertegha/">
				<div class="exTitle">
					ارتقای حساب
				</div>

				مایل به ارتقای حساب خود به حساب طلائی مبلغ
				<select class="cost" name="ertegha_info" >
					<option value="1"> 10هزار تومان دو ماهه</option>
					<option value="2"> 20هزار تومان پنج ماهه</option>
					<option value="3"> 50هزار تومان  یکساله</option>
				</select>
				هستم.
				<input type="submit" value="اتصال با بانک" class="bank btn btn-info"/>
			</form>
			{%endif%}
			{% if  credit.isGolden%}
			<form class="extRow" id="tamdid-form" method="post" action="/profile/tamdid/">
				<div class="exTitle">
					تمدید حساب
				</div>

				مایل به تمدید حساب  طلائی خود به مبلغ
				<select class="cost" name="tamdid_info" >
					<option value="1"> 10هزار تومان دو ماهه</option>
					<option value="2"> 20هزار تومان پنج ماهه</option>
					<option value="3"> 50هزار تومان  یکساله</option>
				</select>
				هستم.
				<input type="submit" value="اتصال با بانک" class="bank btn btn-info"/>
			</form>
			{%endif%}
		</div>

	</div>
</div>
<div class="clearfix"></div>
</div>
</div>

{%endblock%}
