{%extends 'base.html'%}
{% load humanize %}

{%block css%}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/report.css">
{%endblock%}

{%block js%}
<script src="{{STATIC_URL}}js/highcharts.js"></script>
<script src="{{STATIC_URL}}js/exporting.js"></script>
<script src="{{STATIC_URL}}js/report.js"></script>

<script>
window.console = window.console || {log: function(){}}; // IE :D

window.data = {} ;
//----------------------------
window.data.accounts = {}
{% for m in account %}
window.data.accounts[{{m.id}}] = '{{m.name}}' ;
{% endfor %}

var None = '-'

window.data.avg = {} ; window.data.total = {} ; window.data.current = {}
{% for key, value in avg.items %}
window.data.avg['{{ key }}'] = {{ value }}
{% endfor %}
{% for key, value in total.items %}
window.data.total['{{ key }}'] = {{ value }}
{% endfor %}
{% for key, value in current.items %}
window.data.current['{{ key }}'] = {{ value }}
{% endfor %}
console.log(window.data.avg)
console.log(window.data.total)
console.log(window.data.current)

//----------------------------

</script>
{%endblock%}

{%block sidebar%}
<div class="barItem active">
	<a href="?">کلی</a>
</div>
<div class="barItem">
	<a href="?">درآمد‌ها  <a/>
</div>

<div class="barItem">
	<a href="?">هزینه‌ها  <a/>
</div>

<div class="barItem">
	<a href="?">زمانی </a>
</div>
{%endblock%}

{%block content%}
<div id="content">
	<div id="inCon" class="anim">

		<div id="general" class="solsCon">

					<h3 style="margin-bottom: 25px; margin-top: -15px">
						گزارش کلی
					</h3>


            <div class="info">
                <div class="chart">

                    <div class="chart-container" style="height: 400px;"></div>

                </div>
                <div class="boxes">
                    <div class="item current">
                        <div class="head-item">
                            ماه حاضر
                        </div>
                        <div class="row-item">
                            <span class="title">درآمد</span>
                            <span class="value"></span>
                            <div class="clearfix"></div>
                        </div>
                        <div class="row-item">
                             <span class="title">هزینه</span>
                            <span class="value"></span>
                            <div class="clearfix"></div>
                        </div>
                   </div>
                   <div class="item average">
                        <div class="head-item">
    میانگین ماهانه
                        </div>
                        <div class="row-item">
                            <span class="title">درآمد</span>
                            <span class="value"></span>
                            <div class="clearfix"></div>
                        </div>
                        <div class="row-item">
                             <span class="title">هزینه</span>
                            <span class="value"></span>
                            <div class="clearfix"></div>
                        </div>
                   </div>

                </div>


                <div class="clearfix"></div>
            </div>
            <div class="budget-info">
                <div class = "title">وضعیت بودجه بندی                </div>
                <div class="budget-container">
                {%for b in bugs%}

                    <div class="remainBug">
<div>
                        <div class="bugName">
                            {{b.bugCat.name}}
                        </div>


                        <div class="bug-detail">
                            {{b.cost|intcomma}} / {{b.limit|intcomma}}
                            تومان
                        </div>

                        <div class="clearfix"></div>
</div>
                        {%if b.per >= 75%}
                        <div class="progress progress-danger">

                        {%elif b.per >= 50 %}
                        <div class="progress progress-warning">

                        {%elif b.per >= 25 %}
                        <div class="progress progress-success">

                        {%else %}
                        <div class="progress progress-info">

                        {%endif%}

                        <div class="bar" style="width: {{b.per}}%;">  </div>

                        </div>

                    <div class="clearfix"></div>
                 </div>
                {%endfor%}
                </div>
            </div>
		</div>
		
		<div id="income" class="solsCon">
			<div class="report">
				<div class="header">
					<h3>
						درآمد ها بر اساس دسته بندی
					</h3>
				</div>

				
				<div class="filter">
                    <div calss="wrapper">
						<div class="btn-group open criteria account">
			                <button class="btn dropdown-toggle" data-toggle="dropdown">
								تمام حساب‌ها
								 <span class="caret"></span></button>
			                <ul class="dropdown-menu">


		                  
			                </ul>
			              </div>
					  
  						<div class="btn-group open criteria time">
  			                <button class="btn dropdown-toggle" data-toggle="dropdown">
								 هفته گذشته
  								 <span class="caret"></span></button>
  			                <ul class="dropdown-menu">
  			      			</ul>
  			              </div>
					  

                          <div class="criteria type">
                            <div class="chart-type pie inactive" >  </div>
						    <div class="chart-type bar active" > </div>
						  </div>

                            <button class="refresh btn btn-success">ارسال</button>
						  <div class="clearfix"></div>
					 </div>
				</div>
				
				<div class="chart">

					<div class="chart-container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>

				</div>
				<div class="detail">
					<h4>
						
										جزئیات 
					</h4>
							
					<div class="tranTable">
						<div class="tableWrapper">
							<div class="tranRow head">
								<div class="tranCat">
									دسته
								</div>
								<div class="tranPay">
								هزینه	
								</div>
							</div>
							<div class="tranRow">
								<div class="tranCat">-
								</div>
								<div class="tranPay">-
								</div>
							</div>
							<div class="tranRow">
								<div class="tranCat">-
								</div>
								<div class="tranPay">-
								</div>
							</div>
							<div class="tranRow">
								<div class="tranCat">-
								</div>
								<div class="tranPay">-
								</div>
							</div>
							<div class="tranRow">
								<div class="tranCat">-
								</div>
								<div class="tranPay">-
								</div>
							</div>
						</div>
						<div class="extra">
							<h5>مجموع درآمد:</h5>
							<h7 class="total">-</h7>
							<br>	
							<br>
							<h5>پر درآمد ترین دسته:</h5>
							<h7 class="total">-</h7>

							<!-- <div class="alert alert-info" style="margin-top:10px;">
								<button type="button" class="close" data-dismiss="alert">×</button>
								با 
								<strong>
								بودجه بندی
								</strong>
								 در پرهینه ترین دسته‌ی خود فلان قدر پول ذخیره کنید.
							</div> -->
						</div>
						
						
						<div class="clearfix"></div>
					</div>


				</div>
			</div> 
		</div>
		
		<div id="spending" class="solsCon">
			<div class="report">
				<div class="header">
					<h3>
						هزینه ها بر اساس دسته بندی
					</h3>
				</div>
				
				<div class="filter">


					<div calss="wrapper">
						<div class="btn-group open criteria account">
			                <button class="btn dropdown-toggle" data-toggle="dropdown">
								تمام حساب‌ها
								 <span class="caret"></span></button>
			                <ul class="dropdown-menu">

			                </ul>
			              </div>
					  
  						<div class="btn-group open criteria time">
  			                <button class="btn dropdown-toggle" data-toggle="dropdown">
								 هفته گذشته
  								 <span class="caret"></span></button>
  			                <ul class="dropdown-menu">

  			                <ul>
  			              </div>



					  
						  <div class="criteria type">
                            <div class="chart-type pie inactive" >  </div>
						    <div class="chart-type bar active" > </div>
						  </div>


                          <button class="refresh btn btn-success">ارسال</button>
						  <div class="clearfix"></div>
					 </div>
					  
				</div>
				<div class="chart">

					<div class="chart-container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>

				</div>
				<div class="detail">
					<h4>
						
										جزئیات 
					</h4>
							
					<div class="tranTable">
						<div class="tableWrapper">
							<div class="tranRow head">
								<div class="tranCat">
									دسته
								</div>
								<div class="tranPay">
								هزینه	
								</div>
							</div>
							<div class="tranRow">
								<div class="tranCat">

								</div>
								<div class="tranPay">

								</div>
							</div>
							<div class="tranRow">
								<div class="tranCat">

								</div>
								<div class="tranPay">

								</div>
							</div>
							<div class="tranRow">
								<div class="tranCat">

								</div>
								<div class="tranPay">

								</div>
							</div>
							<div class="tranRow">
								<div class="tranCat">

								</div>
								<div class="tranPay">

								</div>
							</div>
						</div>
						<div class="extra">
							<h5>مجموع هزینه:</h5>
							<h7 class="total">-</h7>
							<br>	
							<br>
							<h5>پر هزینه ترین دسته:</h5>
							<h7 class="total">-</h7>

							<!--<div class="alert alert-info" style="margin-top:10px;">
								<button type="button" class="close" data-dismiss="alert">×</button>
								با
								<strong>
								بودجه بندی
								</strong>
								 در پرهینه ترین دسته‌ی خود فلان قدر پول ذخیره کنید.
							</div>-->
						</div>
						<div class="clearfix"></div>
					</div>


				</div>
			</div> 
		</div>

		<div id="monthly" class="solsCon">
			<div class="report">
				<div class="header">
					<h3>
						گزارش زمانی
					</h3>
				</div>

                <div class="filter">
                    <div calss="wrapper">
						<div class="btn-group open criteria account">
			                <button class="btn dropdown-toggle" data-toggle="dropdown">
								تمام حساب‌ها
								 <span class="caret"></span></button>
			                <ul class="dropdown-menu">



			                </ul>
			              </div>

  						<div class="btn-group open criteria time">
  			                <button class="btn dropdown-toggle" data-toggle="dropdown">
								 هفته گذشته
  								 <span class="caret"></span></button>
  			                <ul class="dropdown-menu">
  			      			</ul>
  			              </div>

                            <button class="refresh btn btn-success">ارسال</button>
						  <div class="clearfix"></div>
					 </div>
				</div>
				
				<div class="chart">

					<div class="chart-container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>

				</div>
				<div class="detail">
					<h4>
						
										جزئیات 
					</h4>
							
					<div class="tranTable">
						<div class="tableWrapper">
							<div class="tranRow head">
								<div class="tranCat">
									نوع
								</div>
								<div class="tranPay">
								مقدار
								</div>
							</div>
							<div class="tranRow">
								<div class="tranCat">

								</div>
								<div class="tranPay">

								</div>
							</div>
							<div class="tranRow">
								<div class="tranCat">

								</div>
								<div class="tranPay">

								</div>
							</div>
						</div>


                        <div class="extra">
							<h5>ارزش خالص بازه زمانی:</h5>
							<h7 class="total">-</h7>
							<br>

							<!--<div class="alert alert-info" style="margin-top:10px;">
								<button type="button" class="close" data-dismiss="alert">×</button>
								با
								<strong>
								بودجه بندی
								</strong>
								 در پرهینه ترین دسته‌ی خود فلان قدر پول ذخیره کنید.
							</div>-->
						</div>

{#                        <div class="extra">#}
{#                            <div class="tranRow head">#}
{#                                    <div class="tranCat">#}
{#                                        زمان#}
{#                                    </div>#}
{#                                    <div class="tranPay">#}
{#                                    درآمد#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="tranRow">#}
{#                                    <div class="tranCat">#}
{##}
{#                                    </div>#}
{#                                    <div class="tranPay">#}
{##}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="tranRow">#}
{#                                    <div class="tranCat">#}
{##}
{#                                    </div>#}
{#                                    <div class="tranPay">#}
{##}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="tranRow">#}
{#                                    <div class="tranCat">#}
{##}
{#                                    </div>#}
{#                                    <div class="tranPay">#}
{##}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="tranRow">#}
{#                                    <div class="tranCat">#}
{##}
{#                                    </div>#}
{#                                    <div class="tranPay">#}
{##}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}

{#						<div class="extra">#}
{#							<h5>مجموع هزینه:</h5>#}
{#							<h7></h7>#}
{#							<br>	#}
{#							<br>#}
{#							<h5>پر هزینه ترین دسته:</h5>#}
{#							<h7></h7>#}
{##}
{#							<div class="alert alert-info" style="margin-top:10px;">#}
{#								<button type="button" class="close" data-dismiss="alert">×</button>#}
{#								با #}
{#								<strong>#}
{#								بودجه بندی#}
{#								</strong>#}
{#								 در پرهینه ترین دسته‌ی خود فلان قدر پول ذخیره کنید.#}
{#							</div>#}
{#						</div>#}
						<div class="clearfix"></div>
					</div>


				</div>
			</div> 
		</div>
		
		
	<div class="clearfix"></div>
</div>
{%endblock%}
