<!-- <TODO>
category ke sub nadare tu lista nemiad!!
moratab kardane transaction
bank acount tu jadval ezafe beshe
</TODO> -->
{% extends 'base.html' %}
{% load humanize %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jsDatePick_ltr.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/transaction.css">
{% endblock %}

{% block js %}
    <script src="{{ STATIC_URL }}js/transaction.js"></script>
    <script src="{{ STATIC_URL }}js/jsDatePick.jquery.min.1.3.js"></script>
    <script src="{{ STATIC_URL }}js/tabs.js"></script>
{% endblock %}

{% block sidebar %}
    <div class="barItem">
        <a href="?">تراکنش‌ها</a>
    </div>
    <div class="barItem">
        <a href="?">تراکنش‌های خودکار</a>
    </div>
    <div class="barItem">
        <a href="?">هم‌گام‌سازی</a>
    </div>
    <div class="barItem active">
        <a href="?">دسته‌بندی‌ها</a>
    </div>
    <div class="barItem">
        <a href="?">حساب‌های بانکی</a>
    </div>
{% endblock %}

{% block content %}
<div id="inCon" class="anim">
    <div class="solsCon">
        <h1>تراکنش‌ها</h1>

        <form method="post" id="addTran" action="/transaction/add/">
            <div id="addTR-err" {%if error%}style="display: block"{%endif%}>
                {{error}}
            </div>
            <div class="tranPart">
                <input name="isIncome" class="isIncome" type="hidden"/>

                <div class="btn-group" id="upOrDown">
                    <button class="btn income">
                        <div class="icoUp"></div>
                    </button>
                    <button class="btn outcome selected">
                        <div class="icoDown"></div>
                    </button>
                </div>
            </div>
            <div class="tranPart">
    <!--            <button id="calendar" class="btn">
                    <div id="calendar-icon"></div>
                </button> -->
                <input type="text" placeholder="تاریخ"  class="transaction" name="date" id="cal_date" >

            </div>
            <div class="tranPart">
                <input type="text" placeholder="مبلغ" class="transaction" name="cost" id="cost-mahya">
            </div>

            <div class="tranPart">
                <input type="hidden" id="ctgrID" name="catId"  class="subCatEdited"/>
                <input type="hidden" id="sbctgrID" name="subcatId" class="subCatEdited"/>
                <div id = "cat-menu" class="cat-menu btn-group filter-cat">
                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    دسته‌ها
                    <span class="caret"></span>
                  </a>
                    <ul class="base-menu dropdown-menu" role="menu" aria-labelledby="dropdownMenu">

                    </ul>
                    <div class="hide hidden">
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">More options</a>
                            <ul class="dropdown-menu">
                            </ul>
                        </li>
                        <li><a tabindex="-1" href="#">Second level link</a></li>
                    </div>
                </div>
            </div>

            <div class="tranPart">
                <input type="hidden" name="BAId" id="bid_post" class="BAEdited" />
                <div id = "cat-account" class="cat-account btn-group filter-cat">
                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">حساب <span class="caret"></span></a>
                    <ul class="base-menu dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                    </ul>
                </div>
            </div>

            <div class="tranPart">
                <input type="text" placeholder="توضیحات" id="desc" name="description">
            </div>

            <div class="tranPart">
                <button class="btn btn-success" id="addTranSubmit">
                    <i class="icon-plus icon-white"></i>
                    تراکنش
                </button>
            </div>

        </form>
        <div class="clearfix"></div>

        <div class="tranTable">
            <div class="tranRow head">
                <div class="tranType"></div>
                <div class="tranDate">
                    تاریخ
                </div>
                <div class="tranPay">
                    مبلغ
                </div>
                <div class="tranCat">
                    دسته
                </div>
                <div class="tranBA">
                    حساب
                </div>

                <!--    <div class="tranDes">
                توضیحات
                </div> -->
            </div>
            {% for t in Tran %}
                <div>

                    <form class="tranRow" method="post" action="/transaction/delete/">
                        {% if t.isIncome %}
                            <div class="tranType up"></div>
                        {% else %}
                            <div class="tranType down"></div>
                        {% endif %}
                        <input type="hidden" value="{{ t.id }}" name="id">

                        <div class="tranDate">
                            {{ t.date|date:"Y-m-d" }}
                        </div>
                        <div class="tranPay">
                            {{ t.cost|intcomma }}
                        </div>
                        <div class="tranCat">
                            {%if t.Category.isSub%}
                                {{t.Category.parentCat}} - {{t.Category}}
                            {%else%}
                                {{t.Category}}
                            {%endif%}
                        </div>
                        <div class="tranBA">
                            {{ t.bankAccount }}
                        </div>

                        <div class="tranTZ">
                        <a class=" tozih" data-placement="top" data-content="{{t.description}}" title="" data-toggle="popover" href="#" data-original-title=" توضیحات">توضیحات </a>
                        <!--    <div class="tranDes">
                        {{t.description}}
                        </div> -->
                        </div>

                        <div class="TranER">
                            <i class="icon-trash TranRemove"></i>
                            <i class="icon-pencil TranEdit"></i>
                        </div>
                    </form>
                    <form class="TRedit" method="post" action="/transaction/edit/">
                    <input  name="isIncome" class="isIncome" {%if t.isIncome%}value="1"{%else%}value="0"{%endif%} type="hidden"/>
                    <div class="btn-group" id="upOrDownEdit">
                        <button class="btn income {% if t.isIncome %}selected{%endif%} " >
                            <div class="icoUp" ></div>
                        </button>
                        <button class="btn outcome {% if  not t.isIncome %} selected{%endif%}" >
                            <div class="icoDown"></div>
                        </button>
                    </div>
                    <input type="hidden" value="{{t.id}}" name="id">
                    <input type="text" class="tranDateEdit" value="{{t.date|date:"Y-m-d"}}" name="date" id="cal-ed-{{t.id}}"/>
                    <input type="text" class="tranPayEdit" value="{{t.cost}}" name="cost"/>


                    <div class="cat-menu btn-group filter-cat edit-cat-menu">
                      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        {{t.Category.name}}
                        <span class="caret"></span>
                      </a>
                        <ul class="base-menu dropdown-menu" role="menu" aria-labelledby="dropdownMenu">

                        </ul>



                        <div class="hide hidden">
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">More options</a>
                                <ul class="dropdown-menu">


                                </ul>
                            </li>

                            <li><a tabindex="-1" href="#">Second level link</a></li>
                        </div>
                    </div>

                    <div class="cat-account btn-group filter-cat edit-cat-account">
                      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        {{t.bankAccount.name}}
                        <span class="caret"></span>
                      </a>
                        <ul class="base-menu dropdown-menu" role="menu" aria-labelledby="dropdownMenu">

                        </ul>

                    </div>
                    <input type="hidden" value="{{t.Category.id}}" name="catId" class="subCatEdited"/>
                    <input type="hidden" name="BAId" class="BAEdited" value="{{t.bankAccount.id}}" />



                    <br />

                    <input type="text" class="tranDesEdit" value="{{t.description}}" name="description"/>
                    <input type="submit" class="btn-success editAction submitEdit" value="ثبت"/>
                    <button class="btn-warning editAction cancelEdit" >
                        انصراف
                    </button>

                </form>

                </div>
            {% endfor %}

        </div>
    </div>


    <div class="solsCon">
        <h1>تراکنش‌های خودکار</h1>
        <form method="post" id="addAutoTran" action="/auto_transaction/add/">
        <div id="auto_addTR-err" {%if auto_error%} style="display: block"{%endif%}>
            {{auto_error}}
        </div>
            <div class="tranPart">
                <input  name="isIncome" class="isIncome"  type="hidden"/>
                <div class="btn-group" id="upOrDown">
                    <button class="btn income" >
                        <div class="icoUp"></div>
                    </button>
                    <button class="btn outcome selected" >
                        <div class="icoDown"></div>
                    </button>
                </div>
            </div>
            <div class="tranPart">
    <!--            <button id="calendar" class="btn">
                    <div id="calendar-icon"></div>
                </button> -->
                <input type="text" placeholder="تاریخ"  class="transaction" name="date" id="auto_cal_date" >

            </div>
            <div class="tranPart">
                <input type="text" placeholder="مبلغ" class="transaction" name="cost" id="auto_cost-mahya">
            </div>


            <div class="tranPart">
                <input type="hidden" id="auto_ctgrID" name="catId"  class="subCatEdited"/>
                <input type="hidden" id="auto-sbctgrID" name="subcatId" class="subCatEdited"/>
                <div id = "cat-menu" class="cat-menu btn-group filter-cat">
                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    دسته‌ها
                    <span class="caret"></span>
                  </a>
                    <ul class="base-menu dropdown-menu" role="menu" aria-labelledby="dropdownMenu">

                    </ul>



                    <div class="hide hidden">
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">More options</a>
                            <ul class="dropdown-menu">


                            </ul>
                        </li>

                        <li><a tabindex="-1" href="#">Second level link</a></li>
                    </div>
                </div>
            </div>

            <div class="tranPart">
                <input type="hidden" name="BAId" id="auto_bid_post" class="BAEdited"/>

                <div id = "cat-account" class="cat-account btn-group filter-cat">
                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    حساب
                    <span class="caret"></span>
                  </a>
                    <ul class="base-menu dropdown-menu" role="menu" aria-labelledby="dropdownMenu">

                    </ul>

                </div>

            </div>


            <div class="tranPart">
                <input type="text" placeholder="توضیحات" id= "desc" name="description">
            </div>

             <div class="tranPart">
                <input type="hidden" name="interval" id="interval_post" class="interval_post" />

                <div id = "cat-interval" class="cat-interval btn-group filter-cat">
                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
بازه زمانی
                    <span class="caret"></span>
                  </a>
                    <ul class="base-menu dropdown-menu" role="menu" aria-labelledby="dropdownMenu">

                    </ul>

                </div>

            </div>

            <div class="tranPart">
                <button class="btn btn-success" id="addTranSubmit">
                    <i class="icon-plus icon-white"></i>
                    تراکنش خودکار
                </button>

            </div>
        </form>
        <div class="clearfix"></div>

        <div class="tranTable">
            <div class="tranRow head">
                <div class="tranType"></div>
                <div class="tranDate">
                    تناوب
                </div>
                <div class="tranPay">
                    مبلغ
                </div>
                <div class="tranCat">
                    دسته
                </div>
                <div class="tranBA">
                    حساب
                </div>

                <!--    <div class="tranDes">
                توضیحات
                </div> -->
            </div>
            {%for t in AutoTran%}
            <div>

                <form class="tranRow" method="post" action="/auto_transaction/delete/">
                    {%if t.isIncome%}
                    <div class="tranType up"></div>
                    {%else%}
                    <div class="tranType down"></div>
                    {%endif%}
                    <input type="hidden" value="{{t.id}}" name="id">
                    <div class="tranDate">
                        {%if t.interval == 1%}
                        روزانه
                        {%elif t.interval == 2 %}
هفتگی
                        {%else%}
                            ماهانه
                        {%endif%}
{#                      {{t.date|date:"Y-m-d"}}#}

                    </div>
                    <div class="tranPay">
                        {{t.cost|intcomma}}
                    </div>
                    <div class="tranCat">
                        {%if t.Category.isSub%}
                        {{t.Category.parentCat}} - {{t.Category}}
                        {%else%}
                        {{t.Category}}
                        {%endif%}

                    </div>
                    <div class="tranBA">
                        {{t.bankAccount}}
                    </div>

                    <div class="tranTZ">
                        <a class=" tozih" data-placement="top" data-content="{{t.description}}" title="" data-toggle="popover" href="#" data-original-title=" توضیحات">توضیحات </a>

                        <!--    <div class="tranDes">
                        {{t.description}}
                        </div> -->
                    </div>
                    <div class="TranER">
                        <i class="icon-trash TranRemove"></i>
                        <i class="icon-pencil TranEdit"></i>
                    </div>
                </form>
                <form class="TRedit" method="post" action="/auto_transaction/edit/">
                    <input  name="isIncome" class="isIncome" {%if t.isIncome%}value="1"{%else%}value="0"{%endif%} type="hidden"/>
                    <div class="btn-group" id="upOrDownEdit">
                        <button class="btn income {% if t.isIncome %}selected{%endif%}" >
                            <div class="icoUp"></div>
                        </button>
                        <button class="btn outcome {% if not t.isIncome %}selected{%endif%}">
                            <div class="icoDown"></div>
                        </button>
                    </div>
                    <input type="hidden" value="{{t.id}}" name="id">
                    <input type="text" class="tranDateEdit auto_edit_cal" value="{{t.date|date:"Y-m-d"}}" name="date" id="auto-cal-ed-{{t.id}}" />
                    <input type="text" class="tranPayEdit" value="{{t.cost}}" name="cost"/>


                    <div class="cat-menu btn-group filter-cat  edit-cat">
                      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        {{t.Category.name}}
                        <span class="caret"></span>
                      </a>
                        <ul class="base-menu dropdown-menu" role="menu" aria-labelledby="dropdownMenu">

                        </ul>



                        <div class="hide hidden">
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">More options</a>
                                <ul class="dropdown-menu">


                                </ul>
                            </li>

                            <li><a tabindex="-1" href="#">Second level link</a></li>
                        </div>
                    </div>

                    <div class="cat-account btn-group filter-cat  edit-cat">
                      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        {{t.bankAccount.name}}
                        <span class="caret"></span>
                      </a>
                        <ul class="base-menu dropdown-menu" role="menu" aria-labelledby="dropdownMenu">

                        </ul>

                    </div>
                    <input type="hidden" value="{{t.Category.id}}" name="catId" class="subCatEdited"/>
                    <input type="hidden" name="BAId" class="BAEdited" value="{{t.bankAccount.id}}" />



                    <br />

                    <input type="text" class="tranDesEdit" value="{{t.description}}" name="description"/>


                    <input type="hidden" name="interval" id="interval_post" class="interval_post" value="{{ t.interval }}" />

                    <div id = "cat-interval" class="cat-interval btn-group filter-cat edit-cat">
                      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
     {%if t.interval == 1%}
                        روزانه
                        {%elif t.interval == 2 %}
هفتگی
                        {%else%}
                            ماهانه
                        {%endif%}
                        <span class="caret"></span>
                      </a>
                        <ul class="base-menu dropdown-menu" role="menu" aria-labelledby="dropdownMenu">

                        </ul>

                    </div>



                    <input type="submit" class="btn-success editAction" value="ثبت"/>
                    <button class="btn-warning editAction cancelEdit" >
                        انصراف
                    </button>

                </form>

            </div>
            {% endfor %}

        </div>
    </div>


    <div class="solsCon" id="sync">
         <div id='catHead'>
            <h1>همگام‌سازی</h1>
        </div>
        <div class="clearfix"></div>

        <div>تاریخ آخرین همگام سازی: ۱۸-۹-۱۳۹۲</div>
        <br>
        <br>
        <form id="syncExcel" class="clearfix" method="post" action="/sync/excel/" enctype="multipart/form-data">

                <input type="hidden" name="BAId" class="BAEdited" />
                <div class="cat-account btn-group filter-cat">
                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">حساب <span class="caret"></span></a>
                    <ul class="base-menu dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                    </ul>
                </div>

            <div class="inf">حساب بانکی مربوطه را انتخاب کنید.</div>
            <input type="file" name="excel" >
                                <div class="inf">فایل اکسل را از اینترنت بانک دریافت و در اینجا وارد کنید.<br>توجه کنید فقط بانک پاسارگاد با سیستم سازگار است.</div>
            <input type="submit" class="btn btn-success pull-left" value="همگام شو">
        </form>


    </div>


    <div class="solsCon">
        <div id='catHead'>
            <h1>دسته‌بندی‌ها</h1>
        </div>
        <div id= 'addCat'>

            <form action='.' method="post">
                <input name= "formID" value="1" type="hidden">
                <input name="name" placeholder="نام دسته" type="text" id= 'catHeadInput'>
            </form>

            <button class="btn btn-success" >
                <i class="icon-plus icon-white"></i> دسته
            </button>
        </div>
        <div class="clearfix"></div>
        <div class="cat-table">
            {% for c in cats %}
            <div class="xrow cat">
                <div class="name">
                    {{c.name}}
                </div><i class="icon-pencil edit"></i><i class="icon-trash remove"></i>

                <form action='.' method="post" class= "edt forSub">
                    <input name= "formID" value="4" type="hidden">
                    <input name= "id" value="{{c.id}}" type="hidden">
                    <input name= "new" type="text" placeholder="نام جدید" class="nameEdit">
                    <input type= "submit" value="تایید" class="btn btn-success edtCat">
                    <button class="btn btn-warning cancelEdit edtCat" >
                        انصراف
                    </button>
                </form>

                <form action='.' method="post"  id="delete">
                    <input name= "formID" value="3" type="hidden">
                    <input name= "id" value="{{c.id}}" type="hidden">
                </form>

                <div class="clearfix"></div>
            </div>
            {% for b in c.cat_set.all %}
            <div class="xrow subcat">
                <div class="name">
                    {{b.name}}
                </div><i class="icon-pencil edit"></i><i class="icon-trash remove"></i>

                <form action='.' method="post" class= "edt forSub">
                    <input name= "formID" value="4" type="hidden">
                    <input name= "id" value="{{b.id}}" type="hidden">
                    <input name= "new" type="text" placeholder="نام جدید" class="nameEdit">
                    <input type= "submit" value="تایید" class="btn btn-success edtCat">
                    <button class="btn btn-warning cancelEdit edtCat" >
                        انصراف
                    </button>
                </form>

                <form action='.' method="post" id="delete">
                    <input name= "formID" value="3" type="hidden">
                    <input name= "id" value="{{b.id}}" type="hidden">
                </form>
                <div class="clearfix"></div>
            </div>
            {%endfor%}
            <div class="hider">
                <div class="xrow add anim">
                    <i class="icon-chevron-right"></i>
                    <form action='.' method="post" class="subCatForm">
                        <input type="text" placeholder="نام زیر دسته" name= "name" class="subCatInp">
                        <input name= "formID" value="2" type="hidden">
                        <input name= "parent" value="{{c.id}}" type="hidden">
                    </form>
                    <i class="icon-plus"></i>

                </div>
            </div>
            {%endfor%}
        </div>
    </div>


    <div class="solsCon">
        <div id= 'catHead'>
            <h1>حساب‌های بانکی</h1>
        </div>
        <div id= 'addCat'>

            <form action="/transaction/addBankAccount/" method="post">
                <input name="name" placeholder="نام حساب" type="text" id= 'catHeadInput'>
            </form>

            <button class="btn btn-success" >
                <i class="icon-plus icon-white"></i> حساب بانکی
            </button>
        </div>
        <div class="clearfix"></div>
        <div class="cat-table">
            {% for a in bankAccounts %}
            <div class="xrow cat">
                <div class="name">
                    {{a.name}}
                </div><i class="icon-pencil edit"></i><i class="icon-trash remove"></i>

                <form action='/transaction/editBankAccount/' method="post" class= "edt forSub">
                    <input name= "id" value="{{a.id}}" type="hidden">
                    <input name= "new" type="text" placeholder="نام جدید" class="nameEdit">
                    <input type= "submit" value="تایید" class="btn btn-success edtCat">
                    <button class="btn btn-warning cancelEdit edtCat" >
                        انصراف
                    </button>
                </form>

                <form action='/transaction/delBankAccount/' method="post"  id="delete">
                    <input name= "id" value="{{a.id}}" type="hidden">
                </form>

                <div class="clearfix"></div>
            </div>
            {%endfor%}
        </div>
    </div>


</div>

<script>
window.data = {}
window.data.cat = {}
window.data.par = {}
window.data.childCat = {}
{%for c in cats%}
    window.data.cat[{{c.id}}] = '{{c.name}}'
    {%if  c.cat_set.all%}
        window.data.childCat[{{c.id}}] = []
        {% for b in c.cat_set.all %}
        window.data.childCat[{{c.id}}].push({{b.id}})
        window.data.par[{{b.id}}] = {{c.id}}
        window.data.cat[{{b.id}}] = '{{b.name}}'
        {%endfor%}
    {%endif%}
{%endfor%}

window.data.accounts = {}
{% for m in bankAccounts %}
window.data.accounts[{{m.id}}] = '{{m.name}}' ;
{% endfor %}



$(function(){

    setEditCategory()
     setAccount(window.data.accounts)




});

function setEditCategory(){

    $('.cat-menu').each(function(){
        var org = $(this) ;

        for (var key in window.data.childCat){
            var base = $('#cat-menu .hide li').eq(0).clone()
            var item = $('#cat-menu .hide li').eq(1).clone()
            base.find('a').html(window.data.cat[key])

            for(var j = 0; j < window.data.childCat[key].length; j++) {
                var sub = window.data.childCat[key][j]
{#                console.log('\t' + window.data.cat[sub])#}
                var tmp = item.clone() ;
                tmp.find('a').html(window.data.cat[sub])
                tmp.appendTo(base.find('ul'))

                tmp.data('name', window.data.cat[sub]).data('id', sub)

                tmp.click(function(){
                    $(this).parents('form:eq(0)').find('.subCatEdited').val($(this).data('id'))
                    $(this).parents('div:eq(0)').find('.btn').html($(this).data('name') + '<span class=\"caret\"></span></button>');
                    event.preventDefault() ;
                });
            }
            base.appendTo(org.find('ul.base-menu'))
        }

    })

}

function setAccount(accounts){
{#        var base = $('#cat-account')#}
{#        var list = base.find('.dropdown-menu')#}
{#        list.html('')#}
{##}
{#        var tmp = $("<li><a href=\"#\"><span class=\"name\"> </span> <span class=\"bank\"> </span></a></li>")#}
{##}
{#        var item = tmp.clone() ;#}
{##}
{#        for (var key in accounts) {#}
{#            var item = tmp.clone() ;#}
{#            item.find(".name").html(accounts[key])#}
{#            item.data('id', key).data('name', accounts[key]) ;#}
{#            item.appendTo(list) ;#}
{#        }#}
{##}
{#        $('#cat-account .dropdown-menu li').click(function(event){#}
{#            $('#bid_post').val($(this).data('id'))#}
{#            base.find('.btn').html($(this).data('name') + '<span class=\"caret\"></span></button>');#}
{#            event.preventDefault() ;#}
{#        });#}



        $('.cat-account').each(function(){
            base = $(this) ;
            var list = base.find('.dropdown-menu')
            list.html('')

            var tmp = $("<li><a href=\"#\"><span class=\"name\"> </span> <span class=\"bank\"> </span></a></li>")

            var item = tmp.clone() ;

            for (var key in accounts) {
                var item = tmp.clone() ;
                item.find(".name").html(accounts[key])
                item.data('id', key).data('name', accounts[key]) ;
                item.appendTo(list) ;
            }

            base.find('.dropdown-menu li').click(function(event){
                $(this).parents('form:eq(0)').find('.BAEdited').val($(this).data('id'))
{#                console.log($(this).parents('form:eq(0)').find('.BAEdited'))#}
                $(this).parents('div:eq(0)').find('.btn').html($(this).data('name') + '<span class=\"caret\"></span></button>');
                event.preventDefault() ;
            });
        })

        $('.cat-interval').each(function(){
            base = $(this) ;
            var list = base.find('.dropdown-menu')
            list.html('')

            var tmp = $("<li><a href=\"#\"><span class=\"name\"> </span> <span class=\"bank\"> </span></a></li>")

            var item = tmp.clone() ;

            dict = {1: 'روزانه', 2: 'هفتگی', 3: 'ماهانه'};
            for (var key in dict) {
                var item = tmp.clone() ;
                item.find(".name").html(dict[key])
                item.data('id', key).data('name', dict[key]) ;
                item.appendTo(list) ;
            }

            base.find('.dropdown-menu li').click(function(event){
                $(this).parents('form:eq(0)').find('.interval_post').val($(this).data('id'))
{#                console.log($(this).parents('form:eq(0)').find('.BAEdited'))#}
                $(this).parents('div:eq(0)').find('.btn').html($(this).data('name') + '<span class=\"caret\"></span></button>');
                event.preventDefault() ;
            });
        })

    }

</script>
{% endblock %}
