{%extends 'base.html'%}
{%block css%}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/transaction.css">
{%endblock%}

{%block js%}
<script src="{{STATIC_URL}}js/transaction.js"></script>
{%endblock%}

{%block sidebar%}
	<div class="barItem active">
		<a href="?">دسته‌بندی‌ها</a>
	</div>
	<div class="barItem">
		<a href="?">تراکنش‌ها</a>
	</div>
	<div class="barItem">
		<a href="?">تراکنش‌های خودکار</a>
	</div>
	<div class="barItem lastBarItem">
		<a href="?">هم‌گام‌سازی</a>
	</div>
{%endblock%}

{%block content%}
	<div id="inCon" class="anim">
		<div class="solsCon">
			<div id= 'catHead'>
	<h1>دسته‌بندی‌ها</h1>
	</div>
	<div id= 'addCat'>
	
	<form action='.' method="post">
		<input name= "formID" value="1" type="hidden">
		<input name="name" placeholder="نام دسته" type="text" id= 'catHeadInput'>
	</form>
	
	<button class="btn btn-success" >
				<i class="icon-plus icon-white"></i> دسته
	</button>
	</div>
	<div class="clearfix">
	</div>
	<div class="cat-table">
		{% for c in cats %}
		<div class="xrow cat"><div class="name">{{c.name}}</div><i class="icon-pencil edit"></i><i class="icon-remove remove"></i>
		
			<form action='.' method="post">
				    	<input name= "formID" value="3" type="hidden">
						<input name= "id" value="{{c.id}}" type="hidden">
			</form>

		
		<div class="clearfix"></div></div>
		{% for b in c.cat_set.all %}
		<div class="xrow subcat"><div class="name">{{b.name}}</div><i class="icon-pencil edit"></i><i class="icon-remove remove"></i>
			<form action='.' method="post">
				    	<input name= "formID" value="3" type="hidden">
						<input name= "id" value="{{b.id}}" type="hidden">
			</form>
		<div class="clearfix"></div></div>
		{%endfor%}
		<div class="hider"> <div class="xrow add anim"> 
			<form action='.' method="post">
				<input type="text" placeholder="نام زیر دسته" name= "name">
		    	<input name= "formID" value="2" type="hidden">
				<input name= "parent" value="{{c.id}}" type="hidden">
			</form>
			
			<i class="icon-plus"></i>
			
		</div></div>
		{%endfor%}
	</div>
		</div>
		<div class="solsCon">
		
						<form method="post" id="addTran" action="/transaction/add/">
							<div class="tranPart">
								<input  name="isIncome" class="isIncome"  type="hidden"/>
								<div class="btn-group" id="upOrDown">
									<button class="btn income" >
										<div class="icoUp"></div>
									</button>
									<button class="btn outcome" >
										<div class="icoDown"></div>
									</button>
								</div>
							</div>
							<div class="tranPart">
								<input type="text" placeholder="تاریخ" class="transaction" name="date">

							</div>
							<div class="tranPart">
								<input type="text" placeholder="مبلغ" class="transaction" name="cost">
							</div>
							<div class="tranPart">
								<input  name="Category" class="Category" type="hidden"/>
								<div class="btn-group" id="cat">
									<a class="btn dropdown-toggle" data-toggle="dropdown" href="#"> دسته‌ها <span class="caret"></span> </a>
									<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
										{%for c in cats%}
										<li>
											<a href="#" class="catItem">{{c.name}}</a>
										</li>
										{%endfor%}

									</ul>
								</div>
							</div>
							<div class="tranPart">
								<input type="text" placeholder="توضیحات" id= "desc" name="description">
							</div>
							<div class="tranPart">
								<button class="btn btn-success" id="addTranSubmit">
									<i class="icon-plus icon-white"></i>
									تراکنش
								</button>

							</div>
						</form>
						<div class="clearfix"></div>
						<div class="tranTable">
							<div class="tranRow head">
								<div class="tranType"></div>
								<div class="tranDate">
									تاریخ
								</div>
								<div class="tranPay">
									مبلغ
								</div>
								<div class="tranCat">
									دسته
								</div>
								<div class="tranDes">
									توضیحات
								</div>
							</div>
							{%for t in Tran%}
							<div>

								<form class="tranRow" method="post" action="/transaction/delete/">
									{%if t.isIncome%}
									<div class="tranType up"></div>
									{%else%}
									<div class="tranType down"></div>
									{%endif%}
									<input type="hidden" value="{{t.id}}" name="id">
									<div class="tranDate">

										{{t.date}}

									</div>
									<div class="tranPay">
										{{t.cost}}
									</div>
									<div class="tranCat">
										{{t.Category}}
									</div>
									<div class="tranDes">
										{{t.description}}
									</div>
									<div class="TranER">
										<i class="icon-remove TranRemove"></i>
										<i class="icon-pencil TranEdit"></i>
									</div>
								</form>
								<form class="TRedit" method="post" action="/transaction/edit/">
									<input  name="isIncome" class="isIncome"  type="hidden"/>
									<div class="btn-group" id="upOrDownEdit">
										<button class="btn income" >
											<div class="icoUp"></div>
										</button>
										<button class="btn outcome" >
											<div class="icoDown"></div>
										</button>
									</div>
									<input type="hidden" value="{{t.id}}" name="id">
									<input type="text" class="tranDateEdit" value="{{t.date}}" name="date"/>
									<input type="text" class="tranPayEdit" value="{{t.cost}}" name="cost"/>
									<input type="text" class="tranCatEdit" value="{{t.Category}}" name="Category"/>
									<input type="text" class="tranDesEdit" value="{{t.description}}" name="description"/>
									<input type="submit" class="btn-success editAction" value="ثبت"/>
									<button class="btn-warning editAction cancelEdit" >انصراف</button>

								</form>

							</div>
							{% endfor %}

						</div>
		</div>

				
<div class="solsCon">
<div class="addTran">
	<div class="tranPart">

		<div class="btn-group" id="upOrDown">
		  	<button class="btn"><div class="icoUp"></div></button>
		  	<button class="btn"><div class="icoDown"></div></button>
		  </div>
	</div>
	<div class="tranPart">
			<input type="text" placeholder="تاریخ شروع" class="auto">
		</div>
		<div class="tranPart">
			<input type="text" placeholder="مبلغ" class="auto">
		</div>
		<div class="tranPart">
		<div class="btn-group" id="cat">
				<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
			دسته‌ها
			<span class="caret"></span>
				</a>
				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
			 <li><a href="#">رستوران</a></li>
			 <li><a href="#">لباس</a></li>
			 <li><a href="#">لوازم تحریر</a></li>
			</ul>
			</div>
		</div>
	<div class="tranPart">
		<div class="btn-group" id="cat">
				<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
			بازه‌ی زمانی
			<span class="caret"></span>
				</a>
				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
			 <li><a href="#">روزانه</a></li>
			 <li><a href="#">ماهانه</a></li>
			</ul>
			</div>
		</div>
	<div class="tranPart">
			<input type="text" placeholder="توضیحات" id= "desc" class="auto" >
	</div>
		
	<div class="tranPart">
			<button class="btn btn-success" >
				<i class="icon-plus icon-white"></i> تراکنش خودکار
			</button>
			
	</div>
</div>
<div class="clearfix"></div>

<div class="tranTable">
		<div class="tranRow head">
			<div class="tranType">
			</div>
			<div class="tranDate">
			تاریخ
			</div>
			<div class="tranPay">
			مبلغ
			</div>
			<div class="tranDes">
				توضیحات
			</div>
		</div>
		<div class="tranRow">
			<div class="tranType down">
			</div>
			<div class="tranDate">
			۲۲/۱۱/۹۱
			</div>
			<div class="tranPay">
			۱۰۰۰۰
			</div>
			<div class="tranDes">
				خرج ناهار
			</div>
		</div>
		<div class="tranRow">
			<div class="tranType down">
			</div>
			<div class="tranDate">
			۲۲/۴/۹۰
			</div>
			<div class="tranPay">
			۱۵۰۰۰
			</div>
			<div class="tranDes">
			خرید بلوز
			</div>
		</div>
		<div class="tranRow">
			<div class="tranType down">
			</div>
			<div class="tranDate">
			۴/۳/۹۱
			</div>
			<div class="tranPay">
			۲۵۰۰۰
			</div>
			<div class="tranDes">
				کادوی ماعده
			</div>
		</div>
		<div class="tranRow">
			<div class="tranType up">
			</div>
			<div class="tranDate">
			۲۵/۴/۹۱
			</div>
			<div class="tranPay">
			۲۰۰۰۰۰
			</div>
			<div class="tranDes">
				دریافت از پدر خرید خیلی خیلی خیلی بزرگ دریافت زیاددریافت از پدر خرید خیلی خیلی خیلی بزرگ دریافت زیاد
			</div>
		</div>
		</div>
	</div>

		<div class="solsCon">
		<h3>همگام سازی با بانک فیلان</h3>
		<span id="moshakhasat">بانک پاسارگاد - شماره حساب ۵۶۴۱۹۸۰۱۲۷ </span>
		<button class="btn btn-success" id="btnSyncNow">همگام شو</button>
		<br><br>
		<div class="loading hide"></div>
		<br>


		<div class="tranTable hide">
		<div class="tranRow head">
			<div class="tranType">
			</div>
			<div class="tranDate">
			تاریخ
			</div>
			<div class="tranPay">
			مبلغ
			</div>
			<div class="tranDes">
				توضیحات
			</div>
		</div>
		<div class="tranRow">
			<div class="tranType down">
			</div>
			<div class="tranDate">
			۲۲/۱۱/۹۱
			</div>
			<div class="tranPay">
			۱۰۰۰۰
			</div>
			<div class="tranDes">
				خرج ناهار
			</div>
		</div>
		<div class="tranRow">
			<div class="tranType down">
			</div>
			<div class="tranDate">
			۲۲/۴/۹۰
			</div>
			<div class="tranPay">
			۱۵۰۰۰
			</div>
			<div class="tranDes">
			خرید بلوز
			</div>
		</div>
		<div class="tranRow">
			<div class="tranType down">
			</div>
			<div class="tranDate">
			۴/۳/۹۱
			</div>
			<div class="tranPay">
			۲۵۰۰۰
			</div>
			<div class="tranDes">
				کادوی ماعده
			</div>
		</div>
		<div class="tranRow">
			<div class="tranType up">
			</div>
			<div class="tranDate">
			۲۵/۴/۹۱
			</div>
			<div class="tranPay">
			۲۰۰۰۰۰
			</div>
			<div class="tranDes">
				دریافت از پدر خرید خیلی خیلی خیلی بزرگ دریافت زیاددریافت از پدر خرید خیلی خیلی خیلی بزرگ دریافت زیاد
			</div>
		</div>
	</div>

	<button class="btn btn-warning" id="btnSyncConfig">تنظیم همگام‌سازی بانک</button>
	<br>
	<form action="" id="syncConfig" class="hide">
		<input type="text" placeholder="شماره حساب"><br>
		<input type="text" placeholder="شماره کاربری"><br>
		<input type="text" placeholder="رمز عبوربانک"><br>
		<br>
		<input type="submit" class="btn btn-success" value="اعمال">
	</form>

	</div>
	</div>
{%endblock%}
